@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p> At Shenge shuttle services all our vehicles are equipped with sanitizers </p>
<p>Our vehicles are fully scrubbed with 70% alcohol detergents before and affter every use</p>
<p> Our drivers have been trained in the importance of hygiene as a way to curb the spread of the virus</p>
