@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
   Location: 1032 Street, 107622 St, Inanda Glebe, Durban, 4309<br />
  
 
 
</address>

<address>
    <strong>Email Address:</strong>   <a href="buthelezi.Sipho@yahoo.com">buthelezi.Sipho@yahoo.com</a><br />
</address>
<p>Phone number: 071 073 2166</p>