@{
    ViewBag.Title = "Home Page";
}

<div align="Center"  >
    <h1><strong>Shenge shuttle services</strong></h1>
    <h3>Let us take you there BOOK CAR NOW!!</h3>
    <img src="~/Content/Images/shenge logo.jpg" width="250" height="250" />
    </div>
<div>
    <h1>Affordable vehicle hire at rates to suit every pocket</h1>
    <h3>VIP protection service also available </h3>
    <div style="width:50%;Text-align:center;float:left;">

        <img src="~/Content/Images/shenge interaction.jpg" width="500" height="500" />
    </div>

    <div style="width:50%;Text-align:center;float:right;">

        <img src="~/Content/Images/vip protection.jpg" width="500" height="500" />
    </div>


</div>

