
@{
    ViewBag.Title = "PaymentComplete";
}

<h2>Payment Complete, thank you!</h2>

<div>
    <p>
        Would you like to take a few moments to complete this Survey?
    </p>
    <a href="@Url.Action("Feedback","Cars" )">
        <span class="btn btn-success">Feedback</span>
    </a>
</div>

